name: Publish release

on:
  release:
    types: [ created ]

jobs:
  publish-crate:
    name: Publish crate

    runs-on: ubuntu-latest

    environment: release
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v4
        name: Checkout repository
      - uses: dtolnay/rust-toolchain@stable
        name: Set up toolchain
      - uses: Swatinem/rust-cache@v2
        name: Cache toolchain and dependencies
      - uses: rust-lang/crates-io-auth-action@v1
        id: auth
        name: Authenticate to crates.io (trusted publishing)
      - name: Publish crates with cargo
        run: |
          cargo publish --locked -p quincy
          cargo publish --locked -p quincy-client
          cargo publish --locked -p quincy-server
          cargo publish --locked -p quincy-gui
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
  
  build-linux-binaries:
    name: Build x86_64 Linux binaries

    runs-on: ubuntu-latest
    container: quay.io/pypa/manylinux_2_28_x86_64

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        name: Checkout repository
      - uses: dtolnay/rust-toolchain@nightly
        name: Set up toolchain
      - uses: Swatinem/rust-cache@v2
        name: Cache toolchain and dependencies
      - name: Build x86_64 Linux binaries
        run: |
          cargo build --release --workspace --features jemalloc
          mkdir -p release
          cp target/release/quincy-client release/
          cp target/release/quincy-server release/
          cp target/release/quincy-users release/
          cp target/release/quincy-client-gui release/
          cp target/release/quincy-client-daemon release/
          tar zcf quincy-${{ github.ref_name }}-linux-x86_64.tar.gz -C release .
      - uses: softprops/action-gh-release@v1
        name: Add binary to release
        with:
          files: |
            quincy-${{ github.ref_name }}-linux-x86_64.tar.gz

  build-macos-binaries:
    name: Build arm64 macOS binaries

    runs-on: macos-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        name: Checkout repository
      - uses: dtolnay/rust-toolchain@nightly
        name: Set up toolchain
      - uses: Swatinem/rust-cache@v2
        name: Cache toolchain and dependencies
      - name: Build arm64 macOS binaries
        run: |
          cargo build --release --workspace --features jemalloc
          mkdir -p release
          cp target/release/quincy-client release/
          cp target/release/quincy-server release/
          cp target/release/quincy-users release/
          cp target/release/quincy-client-gui release/
          cp target/release/quincy-client-daemon release/
          tar zcf quincy-${{ github.ref_name }}-macos-arm64.tar.gz -C release .
      - uses: softprops/action-gh-release@v1
        name: Add binary to release
        with:
          files: |
            quincy-${{ github.ref_name }}-macos-arm64.tar.gz

  build-windows-binaries:
    name: Build x86_64 Windows binaries

    runs-on: windows-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        name: Checkout repository
      - uses: dtolnay/rust-toolchain@nightly
        name: Set up toolchain
      - uses: Swatinem/rust-cache@v2
        name: Cache toolchain and dependencies
      - uses: ilammy/setup-nasm@v1
        name: Install NASM
      - name: Build x86_64 Windows binaries
        run: |
          cargo build --release --workspace
          Invoke-WebRequest https://www.wintun.net/builds/wintun-0.14.1.zip -OutFile wintun.zip
          Expand-Archive wintun.zip -DestinationPath .
          mkdir ./release
          cp wintun/bin/amd64/wintun.dll release/
          cp target/release/quincy-client.exe release/
          cp target/release/quincy-server.exe release/
          cp target/release/quincy-users.exe release/
          cp target/release/quincy-client-gui.exe release/
          cp target/release/quincy-client-daemon.exe release/
          Compress-Archive -Path release/* -DestinationPath quincy-${{ github.ref_name }}-windows-x86_64.zip
      - uses: softprops/action-gh-release@v1
        name: Add binary to release
        with:
          files: |
            quincy-${{ github.ref_name }}-windows-x86_64.zip

  build-docker-image:
    name: Build Docker image

    runs-on: ubuntu-latest

    steps:
      - uses: docker/setup-qemu-action@v3
        name: Set up QEMU
      - uses: docker/setup-buildx-action@v3
        name: Set up Docker Buildx
      - uses: docker/login-action@v3
        name: Login to Docker Hub
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        name: Build and push
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          build-args: |
            FEATURES=jemalloc
          tags: |
            ${{ vars.DOCKERHUB_USERNAME }}/quincy:${{ github.ref_name }}
            ${{ vars.DOCKERHUB_USERNAME }}/quincy:latest
